<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Upcoming Events</h2>
    </div>
  </div>
  <section class="eventsList" ng-hide="!events">
    <div class="row">
      <div ng-class="{ 'col-xs-12 col-sm-12 col-md-4 col-lg-4 events':!$first,  'col-xs-12 firstEvent':$first }" ng-repeat="event in events" ng-mouseenter="hover(event)" ng-mouseleave="hover(event)">
        <div class="eventTitleContainer">
          <div class="event">
            <div class="col-xs-8">
              <h3 class="eventTitle">{{event.name}}</h3>
            </div>
            <div class="col-xs-4">
              <ul class="eventDates">
                <li><h4 class="eventDate" ng-bind="parseDate(event)"></h4></li>
              </ul>
            </div>
          </div>
          <div class="eventDetails" ng-show="event.showDetails">
            <div class="col-lg-6 pricing">
              <strong>Pricing</strong>
              <ul>
                <li ng-repeat="price in event.prices">{{price.name}} - ${{price.amount}}<li>
              </ul>
            </div>
            <div class="col-lg-6 readMore">
              <span class="label label-default" ng-show="event.attendeeCount">{{event.attendeeCount}} People Going</span>
              <a href="{{event.facebookEvent}}" target="_blank" class="btn btn-primary"><i class="fa fa-facebook-official fa-lg" data-toggle="tooltip" data-placement="top" title="Check Out the Facebook Event!"></i></a>
              <a href="{{event.forumLink}}" target="_blank" class="btn btn-primary"><i class="fa fa-external-link-square fa-lg" data-toggle="tooltip" data-placement="top" title="Talk about it in the forums!"></i></a>
              <button class="btn btn-primary" ui-sref="event({ id: event.id })">Read More...</button>
              <button class="btn btn-success" ui-sref="event({ id: event.id })">Order Now</button>
            </div>
          </div>
          <div class="eventTitleImage">
            <img ng-src="{{ event.titleImage.extra.Location }}" class="img-responsive"/>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </section>

  <section class="pastEventsList" ng-show="pastEvents.length">
    <div class="row">
      <div class="col-xs-12">
        <h2>Past Events</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" ng-repeat="event in pastEvents">

      </div>
    </div>
  </section>
</div>
