<div class="container">
  <div class="row">
    <div class="col-lg-3"><img src="assets/images/logo.png" alt="AZSupras" /></div>
    <div class="col-lg-9"><h1 id="title">{{ title }}</h1></div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Upcoming Events</h2>
    </div>
  </div>

  <section class="eventsList" ng-hide="!events">
    <div class="row">
      <div ng-class="{ 'col-xs-12 col-sm-12 col-md-4 col-lg-4 events':!$first,  'col-xs-12 firstEvent':$first }" ng-repeat="event in events" ng-mouseenter="hover(event)" ng-mouseleave="hover(event)">
        <div class="eventTitleContainer">
          <div class="event">
            <div class="col-xs-8">
              <h3 class="eventTitle">{{event.name}}</h3>
            </div>
            <div class="col-xs-4">
              <ul class="eventDates">
                <li><h4 class="eventDate" ng-bind="parseDate(event)"></h4></li>
              </ul>
            </div>
          </div>
          <div class="eventDetails" ng-show="event.showDetails">
            <div class="col-lg-6 pricing">
              <strong>Pricing</strong>
              <ul>
                <li ng-repeat="price in event.prices">{{price.name}} - ${{price.amount}}<li>
              </ul>
            </div>
            <div class="col-lg-6 readMore">
              <span class="label label-default">42 People Going</span>
              <button class="btn btn-primary"><i class="fa fa-facebook-official fa-lg" data-toggle="tooltip" data-placement="top" title="Check Out the Facebook Event!"></i></button>
              <button class="btn btn-primary"><i class="fa fa-external-link-square fa-lg" data-toggle="tooltip" data-placement="top" title="Talk about it in the forums!"></i></button>
              <button class="btn btn-primary">Read More...</button>
              <button class="btn btn-success">Order Now</button>
            </div>
          </div>
          <div class="eventTitleImage" ng-switch="$first">
            <img src="http://localhost:1337{{ event.largeTitleImage }}" class="img-responsive"  ng-switch-when="true" />
            <img src="http://localhost:1337{{ event.smallTitleImage }}" class="img-responsive"  ng-switch-default />
          </div>
        </div>
      </div>
    </div>
    <hr>
  </section>

  <section class="pastEventsList">
    <div class="row">
      <div class="col-xs-12">
        <h2>Past Events</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" ng-repeat="event in pastEvents">

      </div>
    </div>
  </section>
</div>
