<section class="singleEvent">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img src="{{event.largeTitleImage}}" class="img-responsive"/>
      </div>
    </div>
  </div>
</section>

<section class="singleEventDetails">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Event Description</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-12" ng-bind-html="event.content"></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-12">
            <h3>Get More Info</h3>
            <div class="moreInfoBox">
              <ul class="forumLinks">
                <li><a href="https://azsupras.com" target="_blank">Checkout the Forums</a></li>
                <li><a href="{{event.forumLink}}" target="_blank">Forum Event Thread</a></li>
              </ul>
              <ul class="socialMedia">
                <li><a href="{{event.facebookEvent}}" target="_blank"><i class="fa fa-facebook-official fa-3x"></i></a>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <aside class="when">
          <h2>When</h2>
          <ul class="dateList">
            <li><strong>Starts on</strong> {{event.startDate | date: 'medium'}}
            <li><strong>Ends on</strong> {{event.endDate | date: 'medium'}}
            <li><strong>Event lasts {{ dateDiff(event.endDate, event.startDate)  }}</strong>
          </ul>
        </aside>
        <aside class="pricing">
          <h2>Pricing</h2>
          <ul class="pricingList" ng-hide="!event.prices.length">
            <li ng-repeat="price in event.prices">
              <span ng-bind="price.name"></span>
              <span ng-bind="price.amount | currency"></span>
              <button class="btn btn-success btn-md" ng-click="addItem(event, price)"><i class="fa fa-lg fa-cart-plus"></i>Add to Cart</button>
            </li>
            <li class="seperator" ng-show="cart.length">
              <strong>Total</strong> <span ng-bind="calculateTotal() | currency"></span>
            </li>
              <button class="btn btn-danger btn-md" ng-click="clearCart()" ng-show="cart.length > 0">Clear Cart</button>
              <a ui-sref="checkout" class="btn btn-primary btn-md" ng-show="cart.length > 0">Checkout</a>
            </li>
          </ul>
          <p ng-show="!event.prices.length">This event is totally free!</p>
        </aside>
        <aside>
          <h2>Where</h2>
            <address>
              <strong>{{event.location.name}}</strong><br>
              {{event.location.address}}<br>
              {{event.location.city}}, {{event.location.state}} {{event.location.zipCode}}
            </address>
            <img src="{{event.staticMap}}" class="img-responsive"/>
        </aside>
      </div>
    </div>
  </div>
</section>
